[Unit]
Description=Update checker

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/leadseason/.config/waybar/scripts/getupdates-server.sh

[Install]
WantedBy=default.target

