[Unit]
Description=Noisetorch Noise Cancelling
Requires=alsa_input.pci-0000_31_00.4.3.analog-stereo.2
After=alsa_input.pci-0000_31_00.4.3.analog-stereo.2
# Depending on if you're using pulseaudio or pipewire, uncomment the correct line
# After=pulseaudio.service
After=pipewire.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/noisetorch -i -s alsa_input.pci-0000_31_00.4.analog-stereo.2 -t 95
ExecStop=/bin/noisetorch -u
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
