@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha-blue.theme.css");

:root {
--Chat-Font-Used: "Symbols Nerd Font Mono", "Iosevka";
}
:not([class="hljs"]):not(code){
font-family: var(--Chat-Font-Used)!important;
}

.markup:not(code) {
font-size: var(--Chat-Font-Size)!important;
}