@import "./theme/mocha.scss";
@import "./widgets/bar/bar.scss";

* {
	all: unset;
	font-family: "Symbols Nerd Font Mono", "Maple mono";
}

button:hover {
	background-color: mix($text, transparent, 15%);
	transition-duration: 300ms;
}

tooltip {
	color: $text;
	background: $base;
}