@use "sass:color";
@use "themes/flavours-colors" as theme;
@use "sass:string";

* {
	all: unset;
	font-family: "Symbols Nerd Font Mono", "FiraCode Nerd Font Propo";
}

window.Bar {
    color: theme.$base05;
    font-size: 20px;
    font-weight: normal;

	.Barbox {
		background-color: color.mix(color.mix(theme.$base0E, black, 20%), transparent, 50%);
		border-bottom: .15rem solid color.mix(color.mix(theme.$base0E, black, 50%), transparent, 25%);
		box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.10) inset;
	}

	button {
		all: unset;
		background-color: transparent;
		transition: 100ms;
		border-radius: 7px;
	}

	button:hover {
		background-color: color.adjust(theme.$base05, $alpha: -0.84);
		border-color: color.adjust(theme.$base05, $alpha: -0.8);
	}


	button:active {
		background-color: color.adjust(theme.$base05, $alpha: -0.9);
  	    box-shadow: inset 3px 4px 5px color.mix(black, transparent, 50%);
	}


    .widgetbox {
		border-top-right-radius: .3rem;
		border-top-left-radius: .3rem;
		padding: .3rem .7rem .4rem;
		margin: .3rem .5rem -2px;

        color: theme.$base0E;
        background: repeating-linear-gradient(
            color.mix(theme.$base0E, black, 20%),
            color.mix(theme.$base0E, black, 20%) .2%,
            color.mix(theme.$base0E, black, 30%) .5%,
            color.mix(theme.$base0E, black, 20%) .8%,
            color.mix(theme.$base0E, black, 20%) 1%
        );

        box-shadow: inset 3px 4px 5px color.mix(black, transparent, 50%);
                  /* 0px -1px 3px 4px color.mix(black, transparent, 50%); */
        border-bottom:.15rem solid theme.$base0E;
    }

	.Clock {
		.Separator {
			color: theme.$base04;
		}
	}
	
	.Notification {
		.Badge {
			border-radius: 1rem;
			padding: 0px 3px;
			margin: 0px .4rem 0px 0px;
			color: color.mix(theme.$base08, black, 10%);
			background: theme.$base08;
		}
	}
	

    .Noises {
        * {
			transition: 200ms;
        }
		
		.vol50 {
			color: color.mix(theme.$base0E, black, 50%);
		}

    }

	.OSIcon {
		font-size: 24px;
		button {
			padding: .0rem .7rem .0rem;
			border-top-right-radius: .3rem;
			border-top-left-radius: .3rem;
		}

		margin: .3rem .5rem -2px;
		border-top-right-radius: .3rem;
		border-top-left-radius: .3rem;

        color: theme.$base0E;
        background: repeating-linear-gradient(
            color.mix(theme.$base0E, black, 20%),
            color.mix(theme.$base0E, black, 20%) .2%,
            color.mix(theme.$base0E, black, 30%) .5%,
            color.mix(theme.$base0E, black, 20%) .8%,
            color.mix(theme.$base0E, black, 20%) 1%
        );

        box-shadow: inset 3px 4px 5px color.mix(black, transparent, 50%);
                  /* 0px -1px 3px 4px color.mix(black, transparent, 50%); */
        border-bottom:.15rem solid theme.$base0E;
		
	}

    .Workspaces {
		padding: 0px .7rem 0px;
		margin: .3rem .5rem -2px;
		border-top-right-radius: .3rem;
		border-top-left-radius: .3rem;

        color: color.mix(theme.$base0E, black, 60%);
        background: repeating-linear-gradient(
            color.mix(theme.$base0E, black, 20%),
            color.mix(theme.$base0E, black, 20%) .2%,
            color.mix(theme.$base0E, black, 30%) .5%,
            color.mix(theme.$base0E, black, 20%) .8%,
            color.mix(theme.$base0E, black, 20%) 1%
        );

        box-shadow: inset 3px 4px 5px color.mix(black, transparent, 50%);
                  /* 0px -1px 3px 4px color.mix(black, transparent, 50%); */
        border-bottom:.15rem solid theme.$base0E;

		label {
			transition: 200ms;
		}

		.focused label {
			color: theme.$base0E;
			border-color: theme.$base0E;
			transition: 200ms;
		}
	}
}

window.AstalConfirm {
		background-color: color.mix(theme.$base00, transparent, 30%);

        .confirmBox {
            margin: 10px;
            padding: 6px;
            box-shadow: 2px 3px 5px 0 color.mix(black, transparent, 40%);
            border-radius: 11px;
            background-color: theme.$base00;
            color: theme.$base05;
            min-width: 200px;
        }

        box > label {
            font-size: large;
            margin: 6px;
        }

        label.title {
            font-size: 1.4em;
        }

        .action {
            color: theme.$base05;
			font-weight: bold;
        }
		
		button {
            margin: 10px;
            padding: 6px;
            box-shadow: 2px 3px 5px 0 color.mix(black, transparent, 40%);
            border-radius: 11px;
            background-color: theme.$base02;
            color: theme.$base05;
            min-width: 200px;
			transition: 200ms;
		}
		
		button:hover {
			background-color: theme.$base03;
			transition: 200ms;
		}

		button:active {
			background-color: theme.$base03;
  	    	box-shadow: inset 3px 4px 5px color.mix(black, transparent, 50%);
			transition: 200ms;
		}
}

window.AstalDesktop {
	all: unset;

    background-image: url("/home/leadseason/.local/share/wallpapers/daniil-silantev-95iZ2UVvv0A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

	.Time {
		font-size: 46px;	
		text-shadow: 4px 4px 8px theme.$base01;
	}

	.Date {
		font-size: 36px;	
		text-shadow: 4px 4px 8px theme.$base01;
	}
}

window.AstalMixer {
	border-radius: 1rem;
	border: 2px solid theme.$base03;
	background-color: theme.$base00;

	icon {

		margin-left: .6em;
	}

  	separator { 
		margin: 4px 0;
		background-color: theme.$base02;
		min-height: 1px;
		min-height: 1px;
		
	}

	.AstalMixerBase {
		margin: 4px;
		padding: 4px;
	}

	.NameLabel {
		margin-left: 1rem;
	}
	
	.NameMuted {
		color: theme.$base04;
	}

    .AstalMixerSlider {
        * {
            all: unset;
        }


        & {
            margin: 0 1em;
        }

        trough {
            background-color: color.adjust(theme.$base05, $alpha: -0.8);
            border-radius: 7px;
        }

        highlight {
            background-color: theme.$base0E;
            min-height: .8em;
            border-radius: 7px;
        }

        slider {
            background-color: theme.$base05;
            border-radius: 7px;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }
    }
}

window.AstalBTDropdown {
	border-radius: 1rem;
	border: 2px solid theme.$base03;
	background-color: theme.$base00;

	icon {

		margin-left: .6em;
	}

  	separator { 
		margin: 4px 0;
		background-color: theme.$base02;
		min-height: 1px;
		min-height: 1px;
		
	}

	.Base {
		margin: 4px;
		padding: 4px;
	}

	switch {
		border-radius: 5px;
		border: 1px solid theme.$base02;
		min-width: 4rem;
		transition: 200ms;

        slider {
            background-color: theme.$base05;
            border-radius: 7px;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }

		&:checked {
			background-color: theme.$base0E;
		}
	}

    .AstalMixerSlider {
        * {
            all: unset;
        }


        & {
            margin: 0 1em;
        }

        trough {
            background-color: color.adjust(theme.$base05, $alpha: -0.8);
            border-radius: 7px;
        }

        highlight {
            background-color: theme.$base0E;
            min-height: .8em;
            border-radius: 7px;
        }

    }
}

// https://github.com/vinceliuice/Colloid-gtk-theme/blob/1a13048ea1bd4a6cb9b293b537afd16bf267e773/src/sass/gtk/_common-3.0.scss#L1671
menu {
	margin: 4px; 
	padding: 4px;
	background-color: theme.$base00;
	background-clip: border-box;
	border-radius: 1rem;
	border: 1px solid theme.$base02;
  
  	separator { 
		margin: 4px 0;
		background-color: theme.$base02;
		min-height: 1px;
		min-height: 1px;
	}

	menuitem {
		transition: 200ms;
		min-height: 20px;
		min-width: 40px;
		padding: 4px 8px;
		color: theme.$base05;
		border-radius: 1rem;

		&:hover {
			background-color: theme.$base02;
		}

		&:active {
			background-color: theme.$base03;
		}
		
		&:disabled {
			color: theme.$base04;
		}
		// Submenu indicator
		arrow {
			min-height: 16px;
			min-width: 16px;

			&:dir(ltr) {
				-gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
				margin-left: 8px;
			}

			&:dir(rtl) {
				-gtk-icon-source:-gtk-icontheme('pan-end-symbolic-rtl');
				margin-right: 8px;
			}
		}
	}
}

tooltip {
	margin: 6px; 
	padding: 6px;
	font-size: 18px;
	background-color: theme.$base00;
	background-clip: border-box;
	border-radius: 1.2rem;
	border: 1.6px solid theme.$base02;
}



window#AstalLauncher {
    all: unset;

    box.AppLauncher {
        background-color: theme.$base00;
        border-radius: 11px;
        margin: 1rem;
        padding: .8rem;
        box-shadow: 2px 3px 8px 0 black;
		border: 2px solid theme.$base03;

        entry {
			border: 2px solid theme.$base03;
			border-radius: 11px;
        	padding: .8rem;
        }

		separator { 
			margin: .8rem 0;
			background-color: theme.$base02;
			min-height: 1px;
			min-height: 1px;
		}

        button {
			background-color: color.mix(white, transparent, 10%);
			border-radius: 10px;
			transition: 200ms;
			
            min-width: 0;
            min-height: 0;
            padding: .5rem;

			&:hover {
				background-color: color.mix(white, transparent, 15%);
			}

            icon {
                font-size: 3em;
                margin-right: .3rem;
            }

            label.name {
                font-weight: bold;
                font-size: 1.1em
            }

            label.description {
                color: theme.$base04;
            }
        }

        box.not-found {
            padding: 1rem;

            icon {
                font-size: 6em;
                color: theme.$base04;
            }

            label {
                color: theme.$base04;
                font-size: 1.2em;
            }
        }
    }
}

window.OSD {
    box.OSD {
        border-radius: 100px;
        background-color: color.mix(theme.$base00, transparent, 75%);
        padding: 10px 14px;
        box-shadow: 3px 3px 7px 0 rgba(0,0,0,.4);
		border: 2px solid color.mix(theme.$base03, transparent, 75%);
    }

    icon {
		margin-right: 10px;
    	font-size: 36px;
    }

    label {
		margin-left: 10px;
        font-size: 26px;
    }

	levelbar block.high, levelbar block:not(.empty) {
		min-height: 10px;
		border-radius: 10px;
		background-color: theme.$base0E;
	}

	levelbar block.empty {
		border-radius: 10px;
		background-color: color.mix(theme.$base04, transparent, 75%);
	}
}

window.Media {
    all: unset;
	box.MediaPlayer {
		padding: .6rem;
		border-radius: 30px;
		border: 2px solid color.mix(theme.$base03, transparent, 75%);
        background-color: color.mix(theme.$base00, transparent, 75%);

		box.cover-art {
			min-width: 120px;
			min-height: 120px;
			border-radius: 9px;
			margin-right: .8rem;
			background-size: contain;
			background-position: center;
		}

		box.title {
			label {
				font-weight: bold;
				font-size: 1.1em;
			}
		}

		scale {
			padding: 0;
			margin: .4rem 0;

			trough {
				min-height: 8px;
			}

			highlight {
				background-color: theme.$base05;
			}

			slider {
				all: unset;
			}
		}

		centerbox.actions {
			min-width: 220px;

			button {
				min-width: 0;
				min-height: 0;
				padding: .4rem;
				margin: 0 .2rem;
			}
		}
	}
}


window.Powermenu {
	all: unset;
	background-color: color.mix(transparent, theme.$base00, 65%);

	.menu {
		margin: 10px;
		padding: 6px;
		box-shadow: 2px 3px 5px 0 color.mix(transparent, theme.$base00, 60);
		border-radius: 11px;
		background-color: color.mix(transparent, theme.$base00, 30%);
		color: theme.$base05;
		min-width: 200px;
		border: 2px solid color.mix(theme.$base03, transparent, 75%);
	}

	button {
		margin: 10px;
		padding: 7px;
		border: 2px solid transparent;

		.icon {
			padding-bottom: 12px;
			font-size: 58px;
		}
	}

	button.selected {
		border-radius: 11px;
		background-color: color.mix(transparent, theme.$base02, 30%);
		border: 2px solid color.mix(theme.$base0E, transparent, 75%);
	}

	button:hover {
		border-radius: 11px;
		background-color: color.mix(transparent, theme.$base02, 30%);
		border: 2px solid color.mix(theme.$base0E, transparent, 75%);
	}
	
	button:checked {
		/* Pressed down */
		color: pink;
		background-color: purple;		
	}
	
}