[submodule ".local/share/zsh/zplug"]
	path = .local/share/zsh/zplug
	url = https://github.com/zplug/zplug
[submodule ".config/zsh/zsh-fsh"]
	path = .config/zsh/zsh-fsh
	url = https://github.com/catppuccin/zsh-fsh
[submodule ".config/zsh/zsh-syntax-highlighting"]
	path = .config/zsh/zsh-syntax-highlighting
	url = https://github.com/catppuccin/zsh-syntax-highlighting.git
