@use "../../themes/flavours-colors.scss" as theme;
@use "sass:color";

window.AstalDropdown {
	border-radius: 1rem;
	border: 2px solid theme.$base03;
	background-color: theme.$base00;
    margin: 10px;
    .buttons {
        button {
            margin: 10px;
            padding: 4px;
            
            &:hover {
                border-radius: 11px;
                background-color: color.mix(transparent, theme.$base02, 30%);
                border: 2px solid color.mix(theme.$base03, transparent, 75%);
            }

            &:focus {
                border-radius: 11px;
                background-color: color.mix(transparent, theme.$base02, 30%);
                border: 2px solid color.mix(theme.$base0E, transparent, 75%);
            }
        }
        
        icon {
            font-size: xx-large;
        }
    }
    trough {
        background-color: color.adjust(theme.$base05, $alpha: -0.8);
        border-radius: 7px;
    }

    highlight {
        background-color: theme.$base0E;
        min-height: .8em;
        border-radius: 7px;
    }

    slider {
        background-color: theme.$base05;
        border-radius: 7px;
        min-height: 1em;
        min-width: 1em;
        margin: -.2em;
    }
}