@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha-blue.theme.css");

:root{
    --Chat-Font-Used: 'firacode nerd font propo';
    src: url("https://www.programmingfonts.org/fonts/resources/firacode/firacode.woff2") format("woff");
    --Chat-Font-Size: 15.5px;
}

:not([class="hljs"]):not(code){
font-family: var(--Chat-Font-Used)!important;
}

.markup:not(code) {
font-size: var(--Chat-Font-Size)!important;
}
