@use "../../themes/mocha.scss" as theme;
@use "sass:color";

window#AstalScratchpad {
    background: color.mix(black, transparent, 20%);
    color: theme.$text;
    
    box#launcher-content {
        border: 2px solid theme.$surface0;
        background: theme.$base;
        min-width: 600px;
        border-radius: 12px;
        padding: 10px;
    }
    button {
        -gtk-icon-size: 2em;
        label.name {
            font-weight: bold;
            font-size: 1.1em;
        }
        label.description {
            color: theme.$subtext0;
        }
    }
    
    separator {
        margin: .8rem 0;
        background-color: theme.$surface0;
        min-height: 2px;
    }
}