@import "../theme/mocha.scss";

.volumeOverlayMain {
    padding: .3rem .7rem .4rem;
    margin: 3rem 0;
}
trough {
    transition: 200ms;
    border-radius: 5px;
    border: solid;
    background-color: $base;
    min-height: 20px;
    min-width: 20px;

    highlight,
    progress {
        border-radius: max(5px - 2px, 0);
        background-image: $acentColor;
        min-height: 20px;
        min-width: 20px;
    }
}

slider {
    box-shadow: none;
    background-color: transparent;
    border: 2px solid transparent;
    transition: 200ms;
    border-radius: 5px;
    min-height: 20px;
    min-width: 20px;
    margin: -$slider-width;
}