@import "mocha.css";


* {
	font-family: "Symbols Nerd Font Mono", "JetBrainsMono Nerd Font";
	font-size: 20px;
	min-height: 0;
}

#waybar {
	background: transparent;
	color: @text;
	margin: 5px 5px 5px 5px;
}

#custom-os_icon {
	border-radius: 1rem;
  	background: @base;
  	color: @sapphire;
  	padding: 5px .7rem 5px .7rem;
  	margin: 5px 0px 5px .5rem;
	border: 2px solid @surface0;
}
#workspaces {
	border-radius: 1rem;
  	margin: 5px 0px 5px .5rem;
  	background-color: @base;
	border: 2px solid @surface0;
}
#workspaces button {
	color: @lavender;
	border-radius: 1rem;
	padding: 5px 0.5rem;
}
#workspaces button.focused {
	color: @sapphire;
	border-radius: 1rem;
}
#workspaces button.visable {
	color: @sky;
	border-radius: 1rem;
}
#workspaces button:hover {
	color: @sapphire;
	background: @base;
	border-color: @base;
	border-radius: 1rem;
}
#clock {
	background-color: @base;
	color: @lavender;
	border-radius: 1rem 1rem 1rem 1rem;
	margin: 5px 0px 5px 0px;
	padding: 5px .5rem;
	border: 2px solid @surface0;
}
#idle_inhibitor {
	background-color: @base;
	color: @pink;
	border-radius: 1rem 0rem 0rem 1rem;
	margin: 5px 0px 5px 0px;
	padding: 5px 1rem;
	border-style: solid none solid solid;
	border-color: @surface0;
	border-width: 2px;
}

#backlight {
	background-color: @base;
	color: @mauve;
	border-radius: 0rem;
	margin: 5px 0px 5px 0px;
	padding: 5px 1rem;
	border-style: solid none solid ;
	border-color: @surface0;
	border-width: 2px;
}
#pulseaudio {
	background-color: @base;
	color: @red;
	border-radius: 0rem;
	margin: 5px 0px 5px 0px;
	padding: 5px 1rem;
	border-style: solid none solid none;
	border-color: @surface0;
	border-width: 2px;
}
#battery {
	background-color: @base;
	color: @maroon;
	border-radius: 0rem;
	margin: 5px 0px 5px 0px;
	padding: 5px 1rem;
	border-style: solid none solid none;
	border-color: @surface0;
	border-width: 2px;
}
#network {
	background-color: @base;
	color: @peach;
	border-radius: 0rem;
	margin: 5px 0px 5px 0px;
	padding: 5px 1rem;
	border-style: solid none solid none;
	border-color: @surface0;
	border-width: 2px;
}
#cpu {
	background-color: @base;
	color: @green;
	border-radius: 0rem;
	margin: 5px 0px 5px 0px;
	padding: 5px 1rem;
	border-style: solid none solid none;
	border-color: @surface0;
	border-width: 2px;
}
#memory {
	background-color: @base;
	color: @teal;
	border-radius: 0rem;
	margin: 5px 0px 5px 0px;
	padding: 5px 1rem;
	border-style: solid none solid none;
	border-color: @surface0;
	border-width: 2px;
}
#temperature {
	background-color: @base;
	color: @sky;
	border-radius: 0rem;
	margin: 5px 0px 5px 0px;
	padding: 5px 1rem;
	border-style: solid none solid none;
	border-color: @surface0;
	border-width: 2px;
}
#custom-archupdates {
	background-color: @base;
	color: @sapphire;
	border-radius: 0rem 1rem 1rem 0rem;
	margin: 5px 0px 5px 0px;
	padding: 5px 1rem;
	border-style: solid solid solid none;
	border-color: @surface0;
	border-width: 2px;
}
#tray {
	background-color: @base;
	color: @lavender;
	border-radius: 1rem;
	padding: 5px .7rem 5px .7rem;
	margin: 5px 1rem 5px 1rem;
	border: 2px solid @sapphire;
}
#custom-notification {
	background-color: @base;
	color: @lavender;
	border-radius: 1rem;
	padding: 5px .7rem 5px .7rem;
	margin: 5px 1rem 5px 1rem;
	border: 2px solid @surface0;
}
