@use "../../themes/mocha.scss" as theme;
@use "sass:color";

window#AstalBar {
  background: transparent;
  color: theme.$text;
  font-size: 20px;
  font-weight: normal;

  > box {
    border-bottom: 2px solid color.mix(theme.$surface0, transparent, 80%);
    background: color.mix(theme.$mantle, transparent, 80%);
  }

  .tray {
    button {
      all: unset;
      border-radius: 8px;
      margin: 2px;
      min-height: 0;
      padding: 2px 2px;
    }
  }

  button {
    all: unset;
    border-radius: 8px;
    margin: 2px;
    min-height: 0;
    padding: 4px 8px;
    
    
  }

  .Badge {
    padding: 1px 4px;
    border-radius: 14px;
    color: theme.$crust;
    background-color: theme.$red;
  }
  
  .focused {
    color: theme.$accent;
    background-color: theme.$surface0;
  }
}