@import "../../theme/mocha.scss";
@import "./swayWorkspaces.scss";
@import "./rightBar.scss";

.barMainBar {
	font-size: 20px;
	background-color: mix($acentColor20, transparent, 50%);
	border-bottom: .15rem solid mix($acentColor50, transparent, 25%);
}

.barInfoBox {
	border-top-right-radius: .3rem;
	border-top-left-radius: .3rem;
	padding: .3rem .7rem .4rem;
	margin: .3rem .5rem .0rem;
}