@import "../../theme/mocha.scss";

.barNotificationBadge {
	border-radius: 1rem;
	padding: 0px 3px;
	margin: 0px .4rem 0px 0px;
	color: $red10;
	background: $red;
}

.barVol50 {
	color: mix($pink, transparent, 50%);
}