@import "../../theme/mocha.scss";

.barSwayWorkspaces {
	color: $acentColor70;
	border-bottom: .15rem solid $acentColor;
	border-top-right-radius: .3rem;
	border-top-left-radius: .3rem;
	margin: .3rem .5rem .0rem;
}	

.barWorkspace {
	border-top-right-radius: .3rem;
	border-top-left-radius: .3rem;
	padding: .3rem .6rem .4rem;
}

.barFocused {
	color: $acentColor;
	transition-duration: 300ms;
}

.barUrgent {
	color: $red;
	transition-duration: 300ms;
}