@use "../../themes/mocha.scss" as theme;
@use "sass:color";


window#Media {
    all: unset;
    box.MediaPlayer {
        padding: 4px;
        border-radius: 8px;
        margin: 2px;
        border: 2px solid theme.$surface1;
        background-color: theme.$base;
    }

    box.title {
        label {
            font-weight: bold;
            font-size: 1.1em;
        }
    }
    
    image {
        padding-right: 5px;
    }
    
    scale {
        padding: 0;
        margin: .4rem 0;

        trough {
            min-height: 8px;
        }

        highlight {
            background-color: theme.$accent;
        }

        slider {
            all: unset;
        }
    }
    
    box.actions {
        min-width: 220px;

        button {
            border: 1px solid transparent;
            min-width: 0;
            min-height: 0;
            padding: .4rem;
            margin: 0 .2rem;
            &:hover {
                border-radius: 6px;
                background-color: color.mix(transparent, theme.$surface1, 30%);
            }
            &.enabled, &:active {
                color: theme.$accent;
                border-radius: 6px;
                border: 1px solid theme.$accent;
            }
        }
    }
}