@use "../../themes/flavours-colors.scss" as theme;
@use "sass:color";

window.AstalDialog {
    all: unset;
    background-color: color.mix(theme.$base00, transparent, 30%);

    .confirmBox {
		margin: 10px;
		padding: 6px;
		border-radius: 11px;
		background-color: color.mix(transparent, theme.$base00, 20%);
		color: theme.$base05;
		min-width: 200px;
		border: 2px solid color.mix(theme.$base03, transparent, 75%);
        box-shadow: 4px 6px 16px 0 black;
    }

    box > label {
        font-size: large;
        margin: 6px;
    }

    label.title {
        font-size: 1.4em;
    }

    .action {
        color: theme.$base05;
        font-weight: bold;
    }

    button {
		margin: 10px;
		padding: 7px;
		border: 2px solid transparent;
        border-radius: 11px;
        border: 2px solid color.mix(transparent, theme.$base03, 30%);

		&:focus {
			background-color: color.mix(transparent, theme.$base02, 30%);
			border: 2px solid color.mix(theme.$base0E, transparent, 75%);
		}
        &:hover {
			background-color: color.mix(transparent, theme.$base02, 30%);
        }

    }


    button:active {
        background-color: theme.$base03;
        box-shadow: inset 3px 4px 5px color.mix(black, transparent, 50%);
        transition: 200ms;
    }
}