/* Catppuccin Mocha */
$rosewater: rgb(245, 224, 220);
$flamingo: rgb(242, 205, 205);
$pink: rgb(245, 194, 231);
$mauve: rgb(203, 166, 247);
$red: rgb(243, 139, 168);
$maroon: rgb(235, 160, 172);
$peach: rgb(250, 179, 135);
$yellow: rgb(249, 226, 175);
$green: rgb(166, 227, 161);
$teal: rgb(148, 226, 213);
$sky: rgb(137, 220, 235);
$sapphire: rgb(116, 199, 236);
$blue: rgb(137, 180, 250);
$lavender: rgb(180, 190, 254);

$text: #cdd6f4;
$subtext0: #a6adc8;
$subtext1: #bac2de;

$base: rgb(30, 30, 46);
$mantle: rgb(24, 24, 37);
$crust: rgb(17, 17, 27);

$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;

$overlay0: #6c7086;
$overlay1: #7f849c;
$overlay2: #9399b2;


/* define acent color to cooking later */
$acentColor: $pink;

/* This variable is inverted 100% = Opaque, 0% = Transparent*/
$badgeTransparency: 75%;

.base {
	color: $text;
	background-color: mix($base, transparent, $badgeTransparency);
	border-bottom: .15rem solid $text;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgbase {
	color: $text;
}

.bgbase {
	background-color: $base;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.mantle {
	color: $text;
	background-color: mix($mantle, transparent, $badgeTransparency);
	border-bottom: .15rem solid $text;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgmantle {
	color: $text;
}

.bgmantle {
	background-color: $mantle;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.crust {
	color: $text;
	background-color: mix($crust, transparent, $badgeTransparency);
	border-bottom: .15rem solid $text;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgcrust {
	color: $text;
}

.bgcrust {
	background-color: $crust;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$rosewater10: rgb(24, 22, 22);
$rosewater20: rgb(49, 45, 44);
$rosewater30: rgb(74, 67, 66);
$rosewater40: rgb(98, 90, 88);
$rosewater50: rgb(122, 112, 110);
$rosewater60: rgb(147, 134, 132);
$rosewater70: rgb(172, 157, 154);
$rosewater80: rgb(196, 179, 176);
$rosewater90: rgb(220, 202, 198);

.rosewater {
	color: $rosewater;
	background: repeating-linear-gradient(
		$rosewater20,
		$rosewater20 .2%,
		$rosewater30 .5%,
		$rosewater20 .8%,
		$rosewater20 1%
	);
	border-bottom: .15rem solid $rosewater;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgrosewater {
	color: $rosewater;
}

.bgrosewater {
	background: repeating-linear-gradient(
		$rosewater20,
		$rosewater20 .2%,
		$rosewater30 .5%,
		$rosewater20 .8%,
		$rosewater20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$flamingo10: rgb(24, 20, 20);
$flamingo20: rgb(48, 41, 41);
$flamingo30: rgb(73, 62, 62);
$flamingo40: rgb(97, 82, 82);
$flamingo50: rgb(121, 102, 102);
$flamingo60: rgb(145, 123, 123);
$flamingo70: rgb(169, 144, 144);
$flamingo80: rgb(194, 164, 164);
$flamingo90: rgb(218, 184, 184);

.flamingo {
	color: $flamingo;
	background: repeating-linear-gradient(
		$flamingo20,
		$flamingo20 .2%,
		$flamingo30 .5%,
		$flamingo20 .8%,
		$flamingo20 1%
	);
	border-bottom: .15rem solid $flamingo;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgflamingo {
	color: $flamingo;
}

.bgflamingo {
	background: repeating-linear-gradient(
		$flamingo20,
		$flamingo20 .2%,
		$flamingo30 .5%,
		$flamingo20 .8%,
		$flamingo20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$pink10: rgb(24, 19, 23);
$pink20: rgb(49, 39, 46);
$pink30: rgb(74, 58, 69);
$pink40: rgb(98, 78, 92);
$pink50: rgb(122, 97, 116);
$pink60: rgb(147, 116, 139);
$pink70: rgb(172, 136, 162);
$pink80: rgb(196, 155, 185);
$pink90: rgb(220, 175, 208);

.pink {
	color: $pink;
	background: repeating-linear-gradient(
		$pink20,
		$pink20 .2%,
		$pink30 .5%,
		$pink20 .8%,
		$pink20 1%
	);
	border-bottom: .15rem solid $pink;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgpink {
	color: $pink;
}

.bgpink {
	background: repeating-linear-gradient(
		$pink20,
		$pink20 .2%,
		$pink30 .5%,
		$pink20 .8%,
		$pink20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$mauve10: rgb(20, 17, 25);
$mauve20: rgb(41, 33, 49);
$mauve30: rgb(61, 50, 74);
$mauve40: rgb(81, 66, 99);
$mauve50: rgb(102, 83, 124);
$mauve60: rgb(122, 100, 148);
$mauve70: rgb(142, 116, 173);
$mauve80: rgb(162, 133, 198);
$mauve90: rgb(183, 149, 222);

.mauve {
	color: $mauve;
	background: repeating-linear-gradient(
		$mauve20,
		$mauve20 .2%,
		$mauve30 .5%,
		$mauve20 .8%,
		$mauve20 1%
	);
	border-bottom: .15rem solid $mauve;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgmauve {
	color: $mauve;
}

.bgmauve {
	background: repeating-linear-gradient(
		$mauve20,
		$mauve20 .2%,
		$mauve30 .5%,
		$mauve20 .8%,
		$mauve20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$red10: rgb(24, 14, 17);
$red20: rgb(49, 28, 34);
$red30: rgb(73, 42, 50);
$red40: rgb(97, 56, 67);
$red50: rgb(122, 70, 84);
$red60: rgb(146, 83, 101);
$red70: rgb(170, 97, 118);
$red80: rgb(194, 111, 134);
$red90: rgb(219, 125, 151);

.red {
	color: $red;
	background: repeating-linear-gradient(
		$red20,
		$red20 .2%,
		$red30 .5%,
		$red20 .8%,
		$red20 1%
	);
	border-bottom: .15rem solid $red;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgred {
	color: $red;
}

.bgred {
	background: repeating-linear-gradient(
		$red20,
		$red20 .2%,
		$red30 .5%,
		$red20 .8%,
		$red20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$maroon10: rgb(24, 16, 17);
$maroon20: rgb(47, 32, 34);
$maroon30: rgb(70, 48, 52);
$maroon40: rgb(94, 64, 69);
$maroon50: rgb(118, 80, 86);
$maroon60: rgb(141, 96, 103);
$maroon70: rgb(164, 112, 120);
$maroon80: rgb(188, 128, 138);
$maroon90: rgb(212, 144, 155);

.maroon {
	color: $maroon;
	background: repeating-linear-gradient(
		$maroon20,
		$maroon20 .2%,
		$maroon30 .5%,
		$maroon20 .8%,
		$maroon20 1%
	);
	border-bottom: .15rem solid $maroon;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgmaroon {
	color: $maroon;
}

.bgmaroon {
	background: repeating-linear-gradient(
		$maroon20,
		$maroon20 .2%,
		$maroon30 .5%,
		$maroon20 .8%,
		$maroon20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$peach10: rgb(25, 18, 14);
$peach20: rgb(50, 36, 27);
$peach30: rgb(75, 54, 40);
$peach40: rgb(100, 72, 54);
$peach50: rgb(125, 90, 68);
$peach60: rgb(150, 107, 81);
$peach70: rgb(175, 125, 94);
$peach80: rgb(200, 143, 108);
$peach90: rgb(225, 161, 122);

.peach {
	color: $peach;
	background: repeating-linear-gradient(
		$peach20,
		$peach20 .2%,
		$peach30 .5%,
		$peach20 .8%,
		$peach20 1%
	);
	border-bottom: .15rem solid $peach;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgpeach {
	color: $peach;
}

.bgpeach {
	background: repeating-linear-gradient(
		$peach20,
		$peach20 .2%,
		$peach30 .5%,
		$peach20 .8%,
		$peach20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$yellow10: rgb(25, 23, 18);
$yellow20: rgb(50, 45, 35);
$yellow30: rgb(75, 68, 52);
$yellow40: rgb(100, 90, 70);
$yellow50: rgb(124, 113, 88);
$yellow60: rgb(149, 136, 105);
$yellow70: rgb(174, 158, 122);
$yellow80: rgb(199, 181, 140);
$yellow90: rgb(224, 203, 158);

.yellow {
	color: $yellow;
	background: repeating-linear-gradient(
		$yellow20,
		$yellow20 .2%,
		$yellow30 .5%,
		$yellow20 .8%,
		$yellow20 1%
	);
	border-bottom: .15rem solid $yellow;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgyellow {
	color: $yellow;
}

.bgyellow {
	background: repeating-linear-gradient(
		$yellow20,
		$yellow20 .2%,
		$yellow30 .5%,
		$yellow20 .8%,
		$yellow20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$green10: rgb(17, 23, 16);
$green20: rgb(33, 45, 32);
$green30: rgb(50, 68, 48);
$green40: rgb(66, 91, 64);
$green50: rgb(83, 114, 80);
$green60: rgb(100, 136, 97);
$green70: rgb(116, 159, 113);
$green80: rgb(133, 182, 129);
$green90: rgb(149, 204, 145);

.green {
	color: $green;
	background: repeating-linear-gradient(
		$green20,
		$green20 .2%,
		$green30 .5%,
		$green20 .8%,
		$green20 1%
	);
	border-bottom: .15rem solid $green;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fggreen {
	color: $green;
}

.bggreen {
	background: repeating-linear-gradient(
		$green20,
		$green20 .2%,
		$green30 .5%,
		$green20 .8%,
		$green20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$teal10: rgb(15, 23, 21);
$teal20: rgb(30, 45, 43);
$teal30: rgb(44, 68, 64);
$teal40: rgb(59, 90, 85);
$teal50: rgb(74, 113, 106);
$teal60: rgb(89, 136, 128);
$teal70: rgb(104, 158, 149);
$teal80: rgb(118, 181, 170);
$teal90: rgb(133, 203, 192);

.teal {
	color: $teal;
	background: repeating-linear-gradient(
		$teal20,
		$teal20 .2%,
		$teal30 .5%,
		$teal20 .8%,
		$teal20 1%
	);
	border-bottom: .15rem solid $teal;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgteal {
	color: $teal;
}

.bgteal {
	background: repeating-linear-gradient(
		$teal20,
		$teal20 .2%,
		$teal30 .5%,
		$teal20 .8%,
		$teal20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$sky10: rgb(14, 22, 24);
$sky20: rgb(27, 44, 47);
$sky30: rgb(41, 66, 70);
$sky40: rgb(55, 88, 94);
$sky50: rgb(68, 110, 118);
$sky60: rgb(82, 132, 141);
$sky70: rgb(96, 154, 164);
$sky80: rgb(110, 176, 188);
$sky90: rgb(123, 198, 212);

.sky {
	color: $sky;
	background: repeating-linear-gradient(
		$sky20,
		$sky20 .2%,
		$sky30 .5%,
		$sky20 .8%,
		$sky20 1%
	);
	border-bottom: .15rem solid $sky;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgsky {
	color: $sky;
}

.bgsky {
	background: repeating-linear-gradient(
		$sky20,
		$sky20 .2%,
		$sky30 .5%,
		$sky20 .8%,
		$sky20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$sapphire10: rgb(12, 20, 24);
$sapphire20: rgb(23, 40, 47);
$sapphire30: rgb(35, 60, 71);
$sapphire40: rgb(46, 80, 94);
$sapphire50: rgb(58, 100, 118);
$sapphire60: rgb(70, 119, 142);
$sapphire70: rgb(81, 139, 165);
$sapphire80: rgb(93, 159, 189);
$sapphire90: rgb(104, 179, 212);

.sapphire {
	color: $sapphire;
	background: repeating-linear-gradient(
		$sapphire20,
		$sapphire20 .2%,
		$sapphire30 .5%,
		$sapphire20 .8%,
		$sapphire20 1%
	);
	border-bottom: .15rem solid $sapphire;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgsapphire {
	color: $sapphire;
}

.bgsapphire {
	background: repeating-linear-gradient(
		$sapphire20,
		$sapphire20 .2%,
		$sapphire30 .5%,
		$sapphire20 .8%,
		$sapphire20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$blue10: rgb(14, 18, 25);
$blue20: rgb(27, 36, 50);
$blue30: rgb(41, 54, 75);
$blue40: rgb(55, 72, 100);
$blue50: rgb(68, 90, 125);
$blue60: rgb(82, 108, 150);
$blue70: rgb(96, 126, 175);
$blue80: rgb(110, 144, 200);
$blue90: rgb(123, 162, 225);

.blue {
	color: $blue;
	background: repeating-linear-gradient(
		$blue20,
		$blue20 .2%,
		$blue30 .5%,
		$blue20 .8%,
		$blue20 1%
	);
	border-bottom: .15rem solid $blue;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fgblue {
	color: $blue;
}

.bgblue {
	background: repeating-linear-gradient(
		$blue20,
		$blue20 .2%,
		$blue30 .5%,
		$blue20 .8%,
		$blue20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$lavender10: rgb(18, 19, 25);
$lavender20: rgb(36, 38, 51);
$lavender30: rgb(54, 57, 76);
$lavender40: rgb(72, 76, 102);
$lavender50: rgb(90, 95, 127);
$lavender60: rgb(108, 114, 152);
$lavender70: rgb(126, 133, 178);
$lavender80: rgb(144, 152, 203);
$lavender90: rgb(162, 171, 229);

.lavender {
	color: $lavender;
	background: repeating-linear-gradient(
		$lavender20,
		$lavender20 .2%,
		$lavender30 .5%,
		$lavender20 .8%,
		$lavender20 1%
	);
	border-bottom: .15rem solid $lavender;
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

.fglavender {
	color: $lavender;
}

.bglavender {
	background: repeating-linear-gradient(
		$lavender20,
		$lavender20 .2%,
		$lavender30 .5%,
		$lavender20 .8%,
		$lavender20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
}

$acentColor10: mix($acentColor, black, 10%);
$acentColor20: mix($acentColor, black, 20%);
$acentColor30: mix($acentColor, black, 30%);
$acentColor40: mix($acentColor, black, 40%);
$acentColor50: mix($acentColor, black, 50%);
$acentColor60: mix($acentColor, black, 60%);
$acentColor70: mix($acentColor, black, 70%);
$acentColor80: mix($acentColor, black, 80%);
$acentColor90: mix($acentColor, black, 90%);

.acentColor {
	color: $acentColor;
	background: repeating-linear-gradient(
		$acentColor20,
		$acentColor20 .2%,
		$acentColor30 .5%,
		$acentColor20 .8%,
		$acentColor20 1%
	);

  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
			  /* 0px -1px 3px 4px mix($crust, transparent, 50%); */
	border-bottom: .15rem solid $acentColor;
}

.fgacentColor {
	color: $acentColor;
}

.bgacentColor {
	background: repeating-linear-gradient(
		$acentColor20,
		$acentColor20 .2%,
		$acentColor30 .5%,
		$acentColor20 .8%,
		$acentColor20 1%
	);
  	box-shadow: inset 3px 4px 5px mix($crust, transparent, 50%);
			  /* 0px -1px 3px 4px mix($crust, transparent, 50%); */
}
