[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Icon=spotify-client
TryExec=spotify --enable-features=UseOzonePlatform --ozone-platform=wayland
Exec=spotify --enable-features=UseOzonePlatform --ozone-platform=wayland --uri=%u
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify

